@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    margin: 0;
    height: 100%;
}

html,
body {
    background-color: white;
}

html.dark,
html.dark body {
    background-color: #111827;
}

body {
    font-family: ui-monospace, "Space Mono", Consolas, monospace;
}
